<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springex.mapper.BookMapper">
    <select id="findAllBooks" resultType="com.example.springex.entitiy.Book">
        SELECT *
        FROM books
    </select>

    <select id="findBookById" resultType="com.example.springex.entitiy.Book">
        SELECT *
        FROM books
        WHERE id = #{id}
    </select>

    <select id="findRentById" resultType="com.example.springex.entitiy.Book">
        SELECT isRented
        FROM books
        WHERE id = #{id}
    </select>

    <insert id="insertBook" useGeneratedKeys="true" keyProperty="id">
        INSERT books(name,author,page, isActivate)
        VALUES(#{book.name}, #{book.author}, #{book.page}, #{book.isActivate});
    </insert>


    <update id="deactivateBookById">
        UPDATE books
        SET isActivate = 0
        WHERE  id = #{id}
    </update>

    <update id="updateBook">
        UPDATE books
        SET
            name=#{book.name},
            author=#{book.author},
            page=#{book.page},
            isRented=#{book.isRented}
        WHERE
            id = #{book.id}
    </update>

    <update id="turnOnBook">
        UPDATE books
        SET
            isActivate = TRUE
        WHERE id = #{id}
    </update>

    <select id="findBookByName" resultType="com.example.springex.entitiy.Book">
        SELECT id, author, name
        FROM books
        WHERE name like CONCAT('%',#{name},'%')
    </select>
</mapper>